.titulosPag{
    grid-area: tituloPag    ;
    font-family: 'Roboto Condensed', sans-serif;
    background-color:map-get($map: colores, $key: colorSecundario);
    color:map-get($map: colores, $key: colorTexto1);
    padding-left: 10px;
}
.formularioContacto1{
    
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:map-get($map: colores, $key: colorSecundario) ;
    color: map-get($map: colores, $key: colorTexto) ;
    display: flex;
    flex-direction: column;
    grid-area: formulario1;
    .inputFormulario{
        color: rgb(1, 1, 1);
        background-color: map-get($map: colores, $key: colorPrimario) ;
        border-style: none;
        border-bottom:3px solid rgb(240, 224, 199) ;
        border-right: 3px solid rgb(240, 224, 199); 
        text-decoration: none;
        border-radius: 5%;
        padding: 3px;
        font-family: 'Roboto Condensed', sans-serif;
        width: 60%;
        margin-top: 3px;
    }
    .inputFormulario1{
        color: rgb(1, 1, 1);
        background-color: map-get($map: colores, $key: colorPrimario) ;
        border-style: none;
        border-bottom:3px solid rgb(240, 224, 199) ;
        border-right: 3px solid rgb(240, 224, 199); 
        text-decoration: none;
        border-radius: 5%;
        padding: 3px;
        font-family: 'Roboto Condensed', sans-serif;
        width: 40px;
        margin-top: 3px;
    }
}
.formularioContacto2{
   
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:map-get($map: colores, $key: colorSecundario) ;
    color: map-get($map: colores, $key: colorTexto1) ;
    display: flex;
    flex-direction: column;
    grid-area: formulario2;
    .inputFormulario{
        color: rgb(1, 1, 1);
        background-color: map-get($map: colores, $key: colorPrimario) ;
        border-style: none;
        border-bottom:3px solid rgb(240, 224, 199) ;
        border-right: 3px solid rgb(240, 224, 199); 
        text-decoration: none;
        border-radius: 5%;
        padding: 3px;
        font-family: 'Roboto Condensed', sans-serif;
        width: 60%;
        margin-top: 3px;
    }
    .inputFormulario1{
        color: rgb(1, 1, 1);
        background-color: map-get($map: colores, $key: colorPrimario);
        border-style: none;
        border-bottom:3px solid rgb(240, 224, 199) ;
        border-right: 3px solid rgb(240, 224, 199); 
        text-decoration: none;
        border-radius: 5%;
        padding: 3px;
        font-family: 'Roboto Condensed', sans-serif;
        width: 40px;
        margin-top: 3px;
    }

}
.slider{
    grid-area: slider;
    height: 100px;
    width: 100%;
    background-color:map-get($map: colores, $key: colorSecundario);
    color: map-get($map: colores, $key: colorTexto1) ;
    border: 1px solid rgb(240, 224, 199);
}