.piePagina{
    background-color: rgb(47, 47, 47);
    color: map-get($colores, colorTexto);
    display: flex;
    padding: 10px;
    flex-flow: row; 
    font-family: 'Roboto Condensed', sans-serif;   
    grid-area: footer;
    .piePagina_tituloMaps{
        padding-bottom: 10px;
    }
    .piePaginaIframe{
        width: 100%;
     
    }
    .piePagina_1{
        padding: 5px;
        @extend %flexColumn;
    }
    .piePagina_2{
        margin-left: 5px;
        padding-top: 55px;
        @extend %flexColumn;
        .derechos{
            color: map-get($map: colores, $key: colorTexto2) ;
        }
        .logoFooter{
            width: 15px;
            height: 15px;
            border-radius: 5%;
            background-color: none;
            margin-right: 2px;
            display: inline;
            
        }
        .linkFooter{
            @include link
        }
    }
}